In [278]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [279]:
crash_data_raw = pd.read_csv("crash_data.csv").\
drop(columns= ["Off-Road Description", "Municipality", "Related Non-Motorist"])

time_date_data = crash_data_raw["Crash Date/Time"].str.split()
names = ["date", "time", "AM/PM"]
time_date = pd.DataFrame(time_date_data.to_list(), columns=names)
time_date["time"] = time_date["time"] + time_date["AM/PM"]
time_date = time_date.drop(columns="AM/PM")
crash_data_raw["time"] = time_date["time"]
crash_data_raw["date"] = time_date["date"]

crash_data_raw

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Type,Cross-Street Name,Collision Type,...,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Equipment Problems,Latitude,Longitude,Location,time,date
0,MCP93210035,190045952,Montgomery County Police,Property Damage Crash,09/25/2019 11:20:00 AM,Maryland (State),GEORGIA AVE,County,DAWSON AVE,SAME DIR REAR END,...,No,2019,BUICK,ENCLAVE,NO MISUSE,39.044760,-77.052257,"(39.04476, -77.05225667)",11:20:00AM,09/25/2019
1,MCP93210035,190045952,Montgomery County Police,Property Damage Crash,09/25/2019 11:20:00 AM,Maryland (State),GEORGIA AVE,County,DAWSON AVE,SAME DIR REAR END,...,No,2009,ACUR,4S,NO MISUSE,39.044760,-77.052257,"(39.04476, -77.05225667)",11:20:00AM,09/25/2019
2,MCP26390083,190045941,Montgomery County Police,Injury Crash,09/25/2019 09:58:00 AM,County,BEL PRE RD,County,NORTH GATE DR,SAME DIR REAR END,...,No,2018,TOYOTA,CAMRY,NO MISUSE,39.090453,-77.050633,"(39.09045333, -77.05063333)",09:58:00AM,09/25/2019
3,MCP26390083,190045941,Montgomery County Police,Injury Crash,09/25/2019 09:58:00 AM,County,BEL PRE RD,County,NORTH GATE DR,SAME DIR REAR END,...,No,2015,HONDA,CRV,NO MISUSE,39.090453,-77.050633,"(39.09045333, -77.05063333)",09:58:00AM,09/25/2019
4,DD56340027,190045937,Rockville Police Departme,Injury Crash,09/25/2019 09:50:00 AM,Maryland (State),VEIRS MILL RD,County,TWINBROOK PKWY,HEAD ON LEFT TURN,...,No,2016,HOND,TK,NO MISUSE,39.073533,-77.111992,"(39.073533, -77.11199183)",09:50:00AM,09/25/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99270,MCP2783000G,15000025,Montgomery County Police,Injury Crash,01/01/2015 01:14:00 AM,Maryland (State),NORBECK RD,County,BAUER DR,HEAD ON,...,No,1999,FORD,PICK UP,NO MISUSE,39.096217,-77.109803,"(39.09621667, -77.10980333)",01:14:00AM,01/01/2015
99271,MCP2686000D,15000017,Montgomery County Police,Property Damage Crash,01/01/2015 01:10:00 AM,Ramp,RAMP 5 FR RAMP 8 TO FATHER HURLEY BLVD,County,FATHER HURLEY BLVD,SAME DIR REAR END,...,No,2010,FORD,FOCUS,NO MISUSE,39.196610,-77.265547,"(39.19661, -77.26554667)",01:10:00AM,01/01/2015
99272,MCP2686000D,15000017,Montgomery County Police,Property Damage Crash,01/01/2015 01:10:00 AM,Ramp,RAMP 5 FR RAMP 8 TO FATHER HURLEY BLVD,County,FATHER HURLEY BLVD,SAME DIR REAR END,...,No,2007,JEEP,COMPASS,NO MISUSE,39.196610,-77.265547,"(39.19661, -77.26554667)",01:10:00AM,01/01/2015
99273,MCP11520005,15000008,Montgomery County Police,Property Damage Crash,01/01/2015 12:30:00 AM,Maryland (State),ROCKVILLE PIKE,County,GROSVENOR LA,SAME DIR REAR END,...,No,1993,BUICK,4S,NO MISUSE,39.022001,-77.102673,"(39.02200107, -77.10267305)",12:30:00AM,01/01/2015
99274,MCP11520005,15000008,Montgomery County Police,Property Damage Crash,01/01/2015 12:30:00 AM,Maryland (State),ROCKVILLE PIKE,County,GROSVENOR LA,SAME DIR REAR END,...,No,2008,RANGE ROVER,HSC,NaN,39.022001,-77.102673,"(39.02200107, -77.10267305)",12:30:00AM,01/01/2015

In [280]:
pd.get_dummies(crash_data_raw[["Injury Severity"]])[["Injury Severity_FATAL INJURY"]]

       Injury Severity_FATAL INJURY
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
...                             ...
99270                             0
99271                             0
99272                             0
99273                             0
99274                             0

[99275 rows x 1 columns]

In [281]:
crash_data_raw.groupby("Vehicle Make")[["Report Number"]].nunique().\
sort_values(by=["Report Number"], ascending=False).head(50)

              Report Number
Vehicle Make
TOYOTA                11919
HONDA                  9831
FORD                   9601
TOYT                   4896
NISSAN                 4814
HOND                   3214
DODGE                  2578
CHEV                   2206
CHEVROLET              2146
HYUNDAI                2058
JEEP                   2036
BMW                    1855
CHEVY                  1841
UNKNOWN                1819
LEXUS                  1646
ACURA                  1638
NISS                   1611
KIA                    1314
MAZDA                  1205
HYUN                   1183
GMC                    1128
SUBARU                 1113
MERZ                    979
THOMAS                  972
MERCEDES                761
AUDI                    709
GILL                    677
CHRYSLER                641
VOLK                    598
ACUR                    574
VOLVO                   558
DODG                    545
NEW FLYER               520
SUBA                    483
VOLKSWAGON              473
BUICK                   420
MAZD                    409
CHRY                    405
INFINITI                400
THOM                    396
GILLIG                  390
CADILLAC                321
LEXS                    319
VOLKSWAGEN              311
MITS                    301
MITSUBISHI              298
FRHT                    288
SATURN                  272
SCION                   256
LEXU                    250

In [282]:
y = crash_data_raw[["Driver At Fault"]]
X = crash_data_raw[["Vehicle Year"]]
y

      Driver At Fault
0                  No
1                 Yes
2                  No
3                 Yes
4                 Yes
...               ...
99270             Yes
99271             Yes
99272              No
99273              No
99274             Yes

[99275 rows x 1 columns]

In [283]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [284]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [272]:
classifier.score(X_test, y_test)

0.5351142270035054

In [199]:
df = pd.DataFrame({"P": classifier.predict(X_test)})
df["A"] = np.array(y_test)

df.head(50)
classifier.score(X_test, y_test)
classifier.predict()

0.8971352592771666